.products_page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 20px;
}

@media (max-width: 600px) {
  .products_page {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .products_page {
    grid-template-columns: 1fr 2fr;
    padding: 16px;
  }
}
