.quantity_input_button {
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: #ff8848;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.quantity_input_button:disabled {
  opacity: 0.3;
  cursor: default;
}

.quantity_input_count {
  margin: 0 40px;
  text-align: center;
}

.add_cart {
  width: fit-content;
  padding: 8px 18px;
}

@media (max-width: 600px) {
  .quantity_input_button {
    width: 28px;
    height: 28px;
    font-size: 20px;
  }

  .quantity_input_count {
    margin: 0 20px;
    font-size: 16px;
  }

  .add_cart {
    padding: 6px 14px;
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .quantity_input_button {
    width: 32px;
    height: 32px;
    font-size: 22px;
  }

  .quantity_input_count {
    margin: 0 30px;
    font-size: 17px;
  }

  .add_cart {
    padding: 7px 16px;
    font-size: 15px;
  }
}
